.preview {
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    align-content: space-around;
}

.preview-result, .preview-input {
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin: 10px;
}


/* ------------------------------------- */
/* ------------ Explanation ------------ */
/* ------------------------------------- */

.explanations {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.explanation {
    margin: 0;
}
