.preview {
    display: flex;
    align-items: center;
}

.preview-result {
    width: 50%;
}

.preview-input {
    width: 50%;
}

/* ------------------------------------- */
/* ------------ Explanation ------------ */
/* ------------------------------------- */

.explanations {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.explanation {
    margin: 0;
}
