body {
    font-family: Roboto, corbel, sans-serif;
    background-color: #eef0fc;
}

section {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
    /*font-family: Light Font*/

}
